<nav id="global-nav" aria-label="Main navigation">
  <ul class="nav-links">
    <li><a href="/" class="nav-logo">HOME<br>eCoucou</a></li>
    <span class="line-charm"></span>
    <!-- <li><a href="/books/">BOOKS</a></li>
    <li><a href="/videos/">VIDEOS</a></li>
    <li><a href="/learning/">LEARNING</a></li> -->
    <li><a href="/about/">ABOUT</a></li>
    <span class="line-charm"></span>
    <li><a href="https://twitter.com/EricP_">TWITTER</a></li>
    <li><a href="https://github.com/eCoucou">GITHUB</a></li>
    <!-- <li><a href="https://www.patreon.com/codingtrain?ty=h" target="_blank">PATREON</a></li> -->
  </ul>
</nav>
<div id="container">
  <button aria-controls="global-nav" aria-haspopup="true" tabindex="2" id="menu-button">
    <span class="menu-icon" aria-hidden="true">
      <img src="/images/nav-btn.svg" alt="Menu toggle" />
    </span>
  </button>
</div>
