<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include home-header.html %}

      {{ content }}

      <button class="mobile-quick-links" aria-controls="quicklinks-section-home" aria-haspopup="true" id="quicklinks-btn-home"></button>
      <aside class="right-container out" id="quicklinks-section-home">
        <div class="feature game">
          <div class="content">
            <h3>Les JEUX du MiniP</h3>
            <p>Enfoncer le bouton pour découvrir l'univers ...</p>
            <div class="form-group">
              <!-- <form action="//shiffman.us13.list-manage.com/subscribe/post?u=a3b0ca7250524fb6a4ddc769a&amp;id=a204c80fa5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <input id="user-email" type="email" value="" name="EMAIL" class="form" placeholder="Your email" aria-label="Your email"/>
                <button type="submit" class="email-btn" name="subscribe">Get updates.</button>
              </form> -->
              <a href="/play" class="primary">Play <span class="visually-hidden">Game</span> di!</a>
            </div>
          </div>
        </div>
        <div class="feature youtube">
          <div class="content">
            <h3 class="ct">Les exercices de code</h3>
            <p>Et un jour ... il décida d'encoder le monde !</p>
            <!-- <a href="http://thecodingtrain.com" target="_blank" class="primary" alt="The coding train logo">Go to <span class="visually-hidden">The Coding Train </span>site</a> -->
          </div>
           <img class="rainbow" src="images/train.png" alt="The Coding Train Logo" width="300px"/>
        </div>
        <div class="feature lp">
          <div class="content">
            <h3>Rugby World Cup</h3>
            <p>Classement IRB depuis 2003</p>
            <a href="https://rugby.e-coucou.com" class="primary">Rugby <span class="visually-hidden">Rugby World Cup</span>GO.</a>
            <p> </p><br>
            <p>Mise à jour des données 10/11/21</p>
          </div>
          <!-- <img class="book" src="images/book-lp.png" alt="Learn Processing book" width="131px"/> -->
        </div>
        <div class="feature noc">
          <div class="content">
            <h3>La PAVLOVA</h3>
            <p>La meilleure recette de Pavlova</p>
            <a href="https://observablehq.com/@e-coucou/pavlova-font-size-2-span-style-color-darkblue-by-ecoucou-spa?collection=@e-coucou/recettes-culinaires" target="_blank" class="primary">Pavlova <span class="visually-hidden">Recette </span>GO.</a>
          </div>
          <img class="rainbow" src="images/pavlova.jpg" alt="La Pavlova" width="201px"/>
        </div>
      </aside>

    {% include footer.html %}

  </body>

</html>
